*{
    margin: 0px; /*aqui inicia a formatação CSS*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*mudar fonte*/
}
header{
    display: flex;
    justify-content: space-around; /* espalhar os elementos na tela*/
    border: 1px solid rgb(173, 142, 3); /* criar uma borda em volta do cabeçalho*/ /*o site color.adobe.com ajuda na paleta de cores para usar, se quiser*/
    background-color: rgb(243, 234, 176);
    height: 100px; /*altura do cabeçalho*/ /*quando for colocar uma logo, por exemplo, não pode ser maior que 100px nesse caso, pois ultrapassará o cabeçalho*/
    align-items: center;
}
#pesquisa{
    border: 1px solid #E68A35;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}
#bt_pesquisar{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #E68A35;
    background-color: rgb(240, 197, 119);
    color: rgb(99, 73, 51);
    cursor: pointer; /* quando o mouse passa por cima do botão, ele vira aquela mãozinha */
}
#bt_pesquisar:hover {  /* ao passar o mouse por cima, ele muda de cor */
    background-color: rgb(233, 218, 192);
}